.logincust-success {
	border: 2px solid #398f14;
}

.appearance_page_logincust_options #wpcontent #wrap h3,
.appearance_page_logincust_options #wpcontent #wrap h2,
.appearance_page_logincust_options #wpcontent #wrap a,
.appearance_page_logincust_options #wpcontent  #wrap {
	color: #777;
}

#logincust-logo {
	position: absolute;
	right: 13%;
	width: 123px;
	height: 85px;
	background: url("<?php echo LOGINCUST_FREE_URL; ?>/css/logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.appearance_page_logincust_options #submit:hover {
	border-color: #ff9d89 !important;
	background: #ff907a !important;
}

.appearance_page_logincust_options #submit {
	border-color: #ff5f3f !important;
	color: #fff !important;
	background: #ff7f66 !important;
	box-shadow: 0 1px 0 #ff9682 inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	text-shadow: none;
}

.appearance_page_logincust_options #wpcontent {
	background: #fff;
}
