.logincust_pro_text a {
	color: #a00;
}

.logincust_pro_text {
	width: 94%;
	margin-top: 0;
	margin-top: -10px;
	margin-left: -21px;
	padding: 10px;
	padding: 0;
	padding-top: 3px;
	padding-right: 28px;
	padding-left: 28px;
	background-color: #f5f5f5;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#accordion-section-logincust_security_section h3:hover,
#accordion-section-logincust_security_section h3 {
	background-image: url("security.png") !important;
	background-repeat: no-repeat!important;
	background-position: 85% !important;
	background-size: 25% !important;
	;
	;
}
